Calculator.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Calculator.xcodeproj/project.xcworkspace/xcuserdata/Chao.xcuserdatad/UserInterfaceState.xcuserstate
Calculator.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Calculator.xcodeproj/xcuserdata/Chao.xcuserdatad/xcschemes/xcschememanagement.plist
Calculator.xcodeproj/xcuserdata/Chao.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
